.btn{
  &-submit {
    margin-top:10px;
    font-weight: 600;
    width: 200px;
    height: 40px;
    display: inline-block;
  }
  &-skills {
    display: block;
    float: right;
  }
  &-reset {
    font-weight: 600;
    width: 200px;
    height: 40px;
    display: inline-block;
    margin-left: 10px;
  }
  &-add {
    width:220px;
    margin-top:5px;
    font-weight: 600;
  }
}